<div class="col-sm-3 sidenav ">
  <div class="pl-2 pt-2 input-group border-right border-bottom border-blue">
    <div class="col p-2 button-group">
      <%= link_to "Show by categories", statistics_by_categories_path, class: "btn btn-primary border-0", style: "background-color: #131c2d" %>
    </div>
    <div class="col p-2 button-group">
      <%= link_to "Show by states",statistics_by_states_path, class: "btn btn-primary border-0", style: "background-color: #131c2d" %>
    </div>
  </div>
</div>