<% provide(:title, 'All users') %>
<h1>All users</h1>



<% @a=0 %>
<ul class="users">

  <% @users.each do |user| %>

    <% @a+=1 %>

    <% if @a==5 %>
      <%break %>
    <%end %>
    <%= render user %>
  <% end %>
</ul>

