<% provide(:title, 'Create offer') %>
<% provide(:button_text, 'Submit offer') %>
<h1>Create new offer</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/offer_form' %>
  </div>
</div>
