a.btn.btn-outline-info:hover{background-color: #131c2d !important; color: white !important;}

a.btn.btn-outline-info {color: #131c2d !important;}

body {background-color: #f1f1f1 !important;}

input.form-control.btn{background-color: transparent !important; color:#131c2d !important; border-color: #131c2d !important;}
input.form-control.btn:hover{background-color: #131c2d !important; color: white !important;}