<!--<footer class="footer">-->
<!--  <small>-->
<!--    STU FIIT - DBS Projekt-->
<!--  </small>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><%#= link_to "About",  pages_about_path  %></li>-->
<!--      <li><%#= link_to "Contact", '#' %></li>-->
<!--      <li><a href="http://news.railstutorial.org/">News</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</footer>-->